body, html {
    width: 100%;
    line-height: 20px;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6C1A4;
}

#stitle {
    text-align: left;
    align-self: flex-end;
    font-size: 60px;
}

#img1 {
    text-align: right;
}

#imgContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #F5F5EB;
    padding: 10px;
}

.item {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.pBold {
    font-weight: bold;
}

#pBigger {
    font-size: 20px;
    
}

footer {
    text-align: center;
    background-color: #F6C1A4;
    padding: 15px;
    line-height: 10px;
}

