/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Gurmukhi:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Sans", sans-serif;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* Body/html */
body, html {
    overflow-x: hidden;
    font-family: "Noto Sans", sans-serif;
}

/* Links */
a {
    cursor: pointer !important;
    text-decoration: none;
}

/* Containers */
.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}

/* Navbar */
.navbar {
    box-shadow: 0px 4px 8px rgba(139, 139, 139, 0.2);
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    margin: 10px;
    margin-left: 15px;
    padding: 10px;
}

.nav-link button {
    font-weight: 800;
    padding: 10px 25px;
}

.nav-link:hover {
    border-radius: 8px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 800;
}

#logo {
    width: 50px;
    margin-left: 20px;
    margin-right: 10px;
}

/* Buttons */
.btn-primary {
    font-weight: 800;
}

.btn-primary:hover {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(139, 139, 139, 0.2) !important;
    transform: scale(1.05);
}

.btn-primary:disabled {
    opacity: 0.5; /* Reduced opacity */
}

.my-button {
    box-shadow: 0px 4px 8px rgba(139, 139, 139, 0.3) !important;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
}

/* Main section */
.mainP {
    font-size: 6vw;
    font-weight: 800;
}

.sideP {
    font-weight: 300;
    font-size: 2vw;
}

/* Overlap container */
.my-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 6vw;
    padding: 30px;
    border-radius: 20px;
    margin-top: -3vw;
    margin-bottom: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
    box-shadow: 0px 4px 8px rgba(139, 139, 139, 0.2);

}

.my-mini-container {
    display: flex;
    flex-wrap: wrap;
    align-content: left;
    text-align: left;
}

.my-mini-header {
    font-weight: 800;
    font-size: 30px;
}

.my-mini-container p {
    padding: 20px;
}

.my-mini-icon {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px;
    margin: 20px;
    font-size: 40px;
    height: 60px;
    border-radius: 16px;
}

.my-mini-icon2 {
    font-size: 20px; 
    padding:10px; 
    margin-right: 10px; 
    border-radius: 8px;
}

.my-mini-height-40 {
    line-height: 60px;
}

.my-mini-subtext {
    font-size: 15px;
    line-height: 30px;
}

/* Cards */
.card {
    border-radius: 16px;
    margin: 10px 10px;
}

.card-img-top {
    border-radius: 16px 16px 0 0;
}

.card-body {
    border-radius: 0 0 16px 16px;
}

.card .card-body a {
    font-weight: 800;
}

.card-body:hover a {
    padding-bottom: 0;
    border-bottom: 3px solid #5D4FFF;
    transition: all 0.1s;
}

.card .card-body p, .card .card-body h5 {
    padding: 10px;
}

.card:hover h5 {
    cursor: pointer;
    transform: scale(1.15);
    margin-left: 3vw;
}

/* Img */
img {
    max-width: 100%;
    height: auto;
}

/* Footer */

footer {
    padding-top: 20px; /* Remove top padding */
    padding-bottom: 0; /* Remove bottom padding */
    margin-top: -50px; /* Adjust margin to overlap with previous section */
}

footer.inverted {
    padding: 40px;
}

footer ul i {
    padding: 10px;
    border-radius: 8px;
    font-size: 30px;
}

footer ul i.inverted{
    padding: 10px;
    border-radius: 8px;
    font-size: 30px;
}

#my-footer {
    flex-wrap: wrap;
}

/* Misc */
#our-services {
    font-weight: 800;
}

.box-shadow {
    box-shadow: 0px 4px 8px rgba(4, 39, 133, 0.2) !important;
    border-radius: 16px;
}

/* forms */
.form-container {
    border-radius: 16px;
    margin: 4vw;
    box-shadow: 0px 4px 8px rgba(4, 39, 133, 0.2);
    padding: 3vw 3vw;
}

.form-group {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: large;
    padding: 15px;
}

.form-group label {
    margin: 10px;
}

.form-control {
    padding: 10px;
}

.form-control:hover {
    box-shadow: 0px 4px 8px rgba(139, 139, 139, 0.2);
}

::placeholder {
    font-family: "Noto Sans", sans-serif;
    padding-left: 5px;
}

textarea {
    margin-bottom: 20px;
}

textarea::placeholder {
    padding: 10px 0px 0px 5px;
}

fieldset form .btn-primary {
    padding: 20px;
    font-size: 15px;
    margin: 4px;
}

fieldset {
    box-shadow: 0px 4px 8px rgba(139, 139, 139, 0.2);
    border-radius: 16px;
}

/* book appointment containters */

.contact-us-container .row {
    margin: 10px;
}

.contact-us-container p {
    margin-top: 20px;
}

#contact .d-flex {
    margin: 0;
    flex-wrap: nowrap;
}

.d-flex.wrap {
    flex-wrap: wrap;
}

.form-check-input[type="checkbox"] {
    width: 3rem;
    height: 1.5rem;
}

.navbar-brand:hover {
    color: #cdc8ff !important;
}

#error-message, #success-message {
    z-index: 9999;
}

.error {
    font-size: medium;
    font-weight: 400;
    color: red;
}

#accordion {
    list-style-type: none;
}

#accordion-toggle {
    cursor: pointer;
}

.accordion-item {
    padding: 10px;
    margin:10px;
    background-color: #5D4FFF;
    border-radius: 8px;
}

.accordion-title {
    align-items: center;
    padding: 10px;
    font-weight: 800;
    font-size: x-large;
}

.accordion-body {
    align-items: center;
    padding: 20px;
    display: none;
}

.accordion-body p {
    font-size: large;
}

#accordion-wrapper {
    display:none;
    margin: 15px;
}

ul {
    padding: 10px;
}

#facebookShow {
    display: none;
}

#success-message {
    display: none;
}


